{%extends 'base.html'%}
{%block page_content%}
        <div class="row">
            {%for source in sources%}
            <div class="col-md-4 col-lg-3 my-3">
                 <div class="card h-100">
                      <div class="card-body">
                        <a href= "{{url_for('.source',name = source.id)}}" class="card-title">{{source.name}}</a>
                        <p class="card-text">{{source.desc | truncate(100,True)}}</p>
                      </div>
                </div>
            </div>
            {%endfor%}
        </div>

{%endblock page_content%}
